/* Ensure the page fills the entire viewport */
html,
body {
  height: 100%;
  margin: 0;
  background-color: #fff;
  font-family: "Work Sans", sans-serif;
}

#message {
  font-size: 70px;
  padding: 20vh 10vw;
  margin: 0;
}

.nameplate {
  position: fixed;
  bottom: 50px;
  left: 10vw;
}

.tagline {
  margin-top: 0;
  font-size: 14px;
}

/* Animation classes */

.fade-in {
  opacity: 0;
  animation: fadeIn 500ms ease-in-out 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Mobile view adjustments */
@media screen and (max-width: 768px) {
  #message {
    font-size: 48px;
    padding: 10vh 5vw;
  }

  .nameplate {
    bottom: 50px;
    left: 5vw;
  }

  .tagline {
    font-size: 16px;
  }
}
